*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  color: #333;
}

h1 {
  margin-top: 3rem;
  text-align: center;
}

/************   TABLE  ***********/

.tableContainer {
  display: flex;
  justify-content: center;
}

table {
  margin: 2rem 0;
  border: #333 solid 1px;
  padding: 1rem;
  width: 95%;
}

th {
  text-align: left;
  font-size: 1.2rem;
}

th:hover {
  cursor: pointer;
  color: blue;
}

td {
  font-family: Arial, Helvetica, sans-serif;

}

.topRow th {
  border-bottom: 1rem transparent solid;

}

.track {
  outline: #ddd solid 1px;
  padding: .4rem;
}

.linkAnchor {
  text-decoration: none;
}



.btn {
  text-decoration: none;
  color: #333;
  padding: .1rem;
}

.createBtnContainer {
  text-align: right;
}

.create {
  margin-right: 3rem;
  border: 1px solid #333;
  color: #333;
  text-decoration: none;
  padding: .3rem;
  border-radius: 2px;
  background-color: #6ca4e0;
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: .2rem;
}


.updateLink {
  text-decoration: none;
  color: #333;
}

.deleteBtn {
  font-weight: 700;
  background-color: #f56c42;
  border-radius: 2px;
}

.deleteBtn:hover {
  cursor: pointer;
}

/* .updateBtn {} */

/**************** FORM ******************/

form {
  border: #333 solid 1px;
  margin: 2rem;
  padding: 1rem;
  background-color: #eee;
}

form input {
  margin: 0 1rem;
}

form p {
  margin: 0 1rem;
}

.block {
  display: block;
  margin: 1rem;
}

.radio {
  margin: .5rem;
  margin-left: 1.5rem;
}

#other {
  margin-left: .5rem;
}

.buttonContainer {
  text-align: right;
}

form button {
  background-color: #6ca4e0;
  color: #222;
  padding: .5rem;
  margin-right: 2rem;
}

form button:hover {
  cursor: pointer;
}

.currentTrack h2 {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.currentTrack li {
  list-style: none;
  margin-left: 3rem;

}